<div class="nav nav-tabs" id="nav-tab" role="tablist">
    <form action="/users/profilePage" method="GET">
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="submit" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
    </form>
    <form action="/users/logout" method="POST">
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="submit" role="tab" aria-controls="nav-register" aria-selected="false">Log Out</button>
    </form>
</div>