<div class="nav nav-tabs" id="nav-tab" role="tablist">
    <form action="/loginPage" method="GET">
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="submit" role="tab" aria-controls="nav-login" aria-selected="false">Login</button>
    </form>
    <form action="/regisPage" method="GET">
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="submit" role="tab" aria-controls="nav-register" aria-selected="false">Register</button>
    </form>
</div>